td {
  border: 1px green solid;
  padding: 16px;
}
body {
  background: linear-gradient(135deg, #35a422 20%, #879579 80%);
  background-size: cover;
}

#dd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
